numpy
scipy
pandas
scikit-learn
statsmodels
matplotlib
seaborn
plotly
opencv-python
scikit-image
pillow
imageio
pygame
torch
torchvision
torchaudio
jupyterlab
notebook
ipykernel
pytest
tqdm
requests
rich
mediapipe==0.10.14
